@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: calc(1vw + 2vh);
}

.logo {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  background-image: url(./resources/Logo.jpg);
  background-position: 70%;
  background-size: cover;
}
.logo-title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
.icon {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
.icon.account {
  background-image: url(./resources/AccountIcon.svg);
}
.icon.cart {
  background-image: url(./resources/ShoppingCartIcon.svg);
  margin-right: 3vw;
}
.header {
  padding: 3vw 4vw;
  background-color: #27272a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header > div {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.section-one {
  background-color: #27272a;
  height: 70vh;
  position: relative;
}
.background-slide {
  z-index: -1;
  background: url("./resources/img1_.jpg") center center;
  background-size: cover;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}
.hero-wrapper {
  position: absolute;
  top: 0;
  padding: 10vh 4vw;
  color: white;
  line-height: 1.5;
}
.hero-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.signupbtn {
  padding: 1.2vw 3vw;
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: 0.8rem;
  font-weight: 700;
  border: solid 2px transparent;
  border-radius: 1vw;
  cursor: pointer;
}
.signupbtn:hover {
  border: solid 2px #e5e7eb;
  background-color: transparent;
}

.section-two {
  margin: 10vw 4vw;
}
.section-two > p {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}
.products-wrapper {
  width: 80vw;
  padding: 2vw 4vw;
  overflow-x: scroll;
  display: flex;
  gap: 4vw;
}
.products-wrapper .item {
  flex-shrink: 0;
  width: 15vw;
  height: 10vw;
  border: solid 2px #27272a;
  border-radius: 2vw;
  background-image: url(./resources/InventoryIcon.png);
  background-position: center;
  background-size: contain;
}

.quote {
  padding: 5vw;
  font-size: 1.2rem;
  font-weight: lighter;
  font-style: italic;
  background-color: lightgray;
  line-height: 1.5;
  word-spacing: 1.5;
}
.quote > p {
  text-align: end;
  font-style: normal;
  font-weight: 600;
  color: #555;
}
.calltoaction {
  margin: 3vw;
  border-radius: 2vw;
  background-color: #3882f6;
  color: white;
  padding: 4vw;
}
.calltoaction > div:first-of-type {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
}
.calltoaction .wrapper {
  display: flex;
  gap: 2vw;
  align-items: center;
  justify-content: space-between;
}
.calltoaction button {
  flex-shrink: 0;
  background-color: white;
  color: #3882f6;
  border: solid 2px white;
}
.calltoaction button:hover {
  background-color: transparent;
  color: white;
}

footer {
  background-color: #27272a;
  color: white;
  padding: 1.5vw 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8vw;
  font-size: 0.8rem;
}
footer a {
  color: white;
}
footer img:hover {
  animation: wiggly 2s infinite;
}
@keyframes wiggly {
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(1080deg) scale(1);
  }
}

@media screen and (max-width: 765px) {
	.header > div {
		gap: 3vw;
	}
	.logo-title {
		font-size: 1.5rem;
	}
  .section-one {
    height: 60vh;
  }
  .signupbtn {
    padding: 2vw 5vw;
    border-radius: 2vw;
  }
  .calltoaction > div:first-of-type {
    margin-bottom: 2vw;
  }
  footer img {
    width: 4vw;
    height: 4vw;
  }
}

/* CSS Debug
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

/*scrollbar*/
::-webkit-scrollbar {
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 0.5vw;
}
::-webkit-scrollbar-track {
  background: #27272a;
}
::-webkit-scrollbar-thumb {
  background: #d6d3d1;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
